<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drupal Pod Badge Generator</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <style>
    body{
      height: 100vh;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      display:flex;
      align-items: center;
      justify-content: center;
    }
    #gitpod-badge{
      max-width: 75vw;
      min-width: 500px;
      margin: auto;
    }
    label{
      font-weight: bold;
    }

    form.box{
      box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
    }

    .brand-color{

      background: rgb(37,157,210);
      background: -moz-radial-gradient(circle, rgba(37,157,210,1) 0%, rgba(39,109,178,1) 50%, rgba(41,64,140,1) 100%);
      background: -webkit-radial-gradient(circle, rgba(37,157,210,1) 0%, rgba(39,109,178,1) 50%, rgba(41,64,140,1) 100%);
      background: radial-gradient(circle, rgba(37,157,210,1) 0%, rgba(39,109,178,1) 50%, rgba(41,64,140,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#259dd2",endColorstr="#29408c",GradientType=1);
    }
  </style>
</head>
<body class="brand-color">

  <script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'
    createApp({
      projectName: ``,
      loading: false,
      imageSrc: `https://drupalpodbadge.netlify.app/badge.png`,
      coreSelected: '',
      projectVersionSelected: '',
      installprofile: 'standard',
      installprofileOptions: ['standard', 'default', 'minimal', 'demo_umami'],
      coreVersions: [],
      projectVersions: [],
      projectDetails: {},
      fetchProjectDetails: function() {
        // fetch project details
        this.loading = true;
        fetch(`https://www.drupal.org/api-d7/node.json?field_project_machine_name=${this.projectName}`).then(response => response.json()).then(data => {
          this.loading = false;
          if(!data.list.length){return};
          let thisProjectDetails = data.list[0];
          this.projectDetails = thisProjectDetails
          let projectVersions = Object.keys(thisProjectDetails.project_usage)
          this.projectVersions = projectVersions
          !this.projectVersionSelected ? this.projectVersionSelected = projectVersions[0] : '';
        })
      },
      fetchCoreVersions: function() {
        // if there is a query param like ?project=stage_file_proxy, set project name to stage_file_proxy
        let urlParams = new URLSearchParams(window.location.search);
        if(urlParams.has('project')){
          this.projectName = urlParams.get('project');
          this.fetchProjectDetails();
        }
        // fetch drupal versions
        this.loading = true;
        fetch(`https://repo.packagist.org/p2/drupal/core.json`).then(response => response.json()).then(data => {
          this.loading = false;
          this.coreVersions = data.packages['drupal/core'].map(release => {
            return {
              text: release.version,
              value: release.version
            }
          })
          !this.projectVersionSelected ? this.coreSelected = this.coreVersions[0].value : '';
          // Fetch project details if project name is set
          if(this.projectName.length){
            this.fetchProjectDetails();
          }
        })
      },
      copyToClipBoard: function() {
        navigator.clipboard.writeText(this.buttonMarkup)
      },
      get gitPodURL() {
        return `https://gitpod.io/#DP_PROJECT_NAME=${this.projectName},DP_ISSUE_FORK=,DP_ISSUE_BRANCH=,DP_PROJECT_TYPE=${this.projectDetails.type},DP_MODULE_VERSION=${this.projectVersionSelected},DP_CORE_VERSION=${this.coreSelected},DP_PATCH_FILE=,DP_INSTALL_PROFILE=${this.installprofile}/https://github.com/shaal/drupalpod`
      },
      get buttonMarkup() {
        return `<a href="${this.gitPodURL}"><img src="${this.imageSrc}" alt="OpenInDrupalPod" style="max-width: 100%;"></a><div><small>get your own at <a href="https://drupalpodbadge.netlify.app">DrupalPod</a></small></div>`
      }
    }).mount('#gitpod-badge')
    </script>

    <div id="gitpod-badge" v-scope v-effect="fetchCoreVersions()">

        
        <form class="box">
          <h2 class="title is-2">DrupalPod Badge Generator</h2>
          <p class="has-text-weight-bold">Project Page:</p>
          <a class="button is-link" href="https://github.com/shaal/DrupalPod">https://github.com/shaal/DrupalPod</a><br/>
          <label for="project">Drupal Project Name:</label><br/>
          <input type="text" placeholder="https://github.com/username/PROJECT_NAME" name="project" v-model="projectName" @blur="fetchProjectDetails" required class="input is-medium">
          <div class="field">
            <label for="core-version">Drupal Core Version:</label><br/>
            <div class="select">
              <select name="core-version" v-model="coreSelected" class="input is-medium">
                <option v-for="(option, index) in coreVersions" :value="option.value">{{ option.text }}</option>
              </select>
            </div>
          </div>
        
          <div class="field">
            <label for="install-profile">Install profile:</label><br/>
            <div class="select">
              <select name="install-profile" id="install-profile" v-model="installprofile"  class="input is-medium">
                <option v-for="option in installprofileOptions" :value="option">{{ option }}</option>
              </select>

            </div>
          </div>
        
          <div v-if="projectName.length">
            <label for="project-version"><span v-if="projectDetails.title">{{projectDetails.title}}</span> Project Version:</label><br/>
            <div class="select">
              <select name="project-version" v-model="projectVersionSelected" class="input is-medium">
                <option v-for="(value, index) in projectVersions" :value="value">{{ value }}</option>
              </select>

            </div>
            <div v-if="loading"><h2>Loading...</h2></div>
            <div v-if="coreSelected.length && projectVersionSelected.length && !loading">
              <p v-html="buttonMarkup"></p>
              <textarea v-model="buttonMarkup" name="code" id="" cols="60" rows="6" style="width:100%"></textarea>
              <div>
                <button class="button is-success" @click="copyToClipBoard">Copy Badge Code</button>
              </div>
            </div>
          </div>
        </form>
      </div>

</body>
</html>